#typein-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 500px;
  min-width: 500px;
  max-width: 650px;
  height: fit-content;
  border: @themeBgColor 1px solid;
  border-radius: 5px 5px 5px 5px;
  background-color: @bgColor;
  font-family: Microsoft YaHei;
  position: fixed;
  top: 100px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2147483647;
  pointer-events: all;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s cubic-bezier(0.05, 0.03, 0.35, 1) 0s;
}
