@overlay-bgColor: #000000;

.import() {
  @import (multiple) './typein-app.less';
  @import (multiple) './typein-search.less';
  @import (multiple) './typein-list.less';
  @import (multiple) './typein-status.less';
  @import (multiple) './typein-overlay.less';
}

@media (prefers-color-scheme: dark) {
  #typein-root {
    @themeColor: #14458a;
    @themeBgColor: #2f3234;
    @themeBgColorDeep: #a1998d;
    @textColor: #e8e6e3;
    @subTextColor: #a9a297;
    @bgColor: #181a1b;
    @bgColorDeep: #282b2d;
    .import();
  }
}

@media (prefers-color-scheme: light) {
  #typein-root {
    @themeColor: #639be9;
    @themeBgColor: #ccd2e2;
    @themeBgColorDeep: #707070;
    @textColor: #000000;
    @subTextColor: #979ca1;
    @bgColor: #ffffff;
    @bgColorDeep: #dfe3e7;
    .import();
  }
}
